* {
  box-sizing: border-box;  
}
html {
  background: #34495e;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 115%;
  display: flex;
  flex-direction: column;  
  margin: 0 auto;
}

.title {    
    text-align: center;    
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    padding: 30px;
}

.options > button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.chat {
  /*
  flex: 1;
  padding: 20px;
  display: block;
  flex-direction: column;
  margin-top: 60px;
  margin-bottom: 60px;    
  */
    list-style: none;
    background: none;
    margin: 0;
    padding: 0 0 50px 0;
    margin-top: 60px;
    margin-bottom: 10px;
}

.chatHistory > .question
{
    text-align: left;
    background: #0FB0DF;
    color: white;
    border-radius: 10px;
    padding: 12px 20px;
}

.question
{
    text-align: left;
    background: #0FB0DF;
    color: white;
    border-radius: 10px;
    padding: 12px 20px;
    max-width: 35%;
}

.chatHistory > .answer
{
    float: right;
    background: #ccc;
    color: black;
    border-radius: 10px;
    padding: 12px 20px;
}

.answer
{
    float: right;
    background: #ccc;
    color: black;
    border-radius: 10px;
    padding: 12px 20px;
}

.user-input {
    width: 90%;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
  }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-spacing: 5px;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

th.score {
    text-align: center;
}

td.ident {
    padding-left: 20px;
}

td.score {
    text-align: center;
}

th.section
{
    background-color: lightgray;
}