* {
  box-sizing: border-box;  
}

body, html {
  height: 100%;
}

body {
  background: #34495e;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 115%;
  display: flex;
  flex-direction: column;  
  margin: 0 auto;
  max-width: 1024px;
}

.title {    
    text-align: center;    
    width: 100%;
    height: auto;
    margin: 0 0 0 0;
    padding: 30px;
}

.chat {
    margin: 0px 10px;
}

.chatHistory .row
{
    margin-bottom: 15px;
}

.answer
{
    background: #ccc;
    border-radius: 4px;
    color: black;
    float: right;
    font-size: 16px;
    width: auto;
}

.question
{
    background: #0FB0DF;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    text-align: left;
    width: auto;
}

.options input[type="text"] 
{
    width: 100%;
}

.options button
{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 5px;
}

.options button:disabled
{
    background-color: lightgray;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-spacing: 5px;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

th.score {
    text-align: center;
}

td.ident {
    padding-left: 20px;
}

td.score {
    text-align: center;
}

th.section
{
    background-color: lightgray;
}