@font-face {
    font-family: Yummo;
    src: url('../fonts/Yummo.ttf');
}

div.question
{
    display: flex; 
    display: -webkit-flex; 
    flex-direction: row;
    font-family: Yummo, sans-serif;
    height: auto;
    margin-bottom: 10px;
    width: auto;
}

    div.question > div.circleBot
    {
        align-items: center;       
        background: #ff0000;        
        border-radius: 50%;        
        color: #ffffff;        
        display: flex;  
        display: -webkit-flex; 
        flex-shrink: 0; 
        height: 60px;        
        margin-right: 10px;        
        text-align: center;        
        -webkit-align-items: center;
        width: 60px;
    }
        div.question > div.circleBot > div.humour
        {
            flex-grow: 1;
        }

    div.question > div.balloon
    {
        background: #636363;        
        border-radius: 40px;        
        color: #ffffff;        
        padding: 20px 20px;        
        text-align: left;        
    }

    div.question > div.back
    {  
        cursor: pointer;
        flex-shrink: 0;
        visibility: hidden;
        width: 22px;
    }    

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
    
    
/*



.circleUser
{
    float: right;
    height: 60px;
    margin: 0px 0px;
    width: 60px;
}
        .circleUser > .user
        {
            background: #000000;
            border-radius: 50%;
            display: table-cell;
            color: #ffffff;
            height: inherit;
            text-align: center;
            vertical-align: middle;
            width: inherit;
        }

#chatHistory table.question, #question table.question
{
    border: none !important;
    margin: 0px 0px 10px 0px !important;
    padding: 0px !important;
}

#chatHistory table.answer, #question table.answer
{
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

#chatHistory div#answer
{
    display: none;
}

#chatHistory tr, #chatHistory td, #question tr, #question td
{
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: left;
    vertical-align: top;
}

#chatHistory tr.answer, #question tr.answer
{
    margin-top: 10px !important;
}

#chatHistory td.button, #questionReply td.button
{
    padding-left: 10px !important;
    width: 60px !important;
}

#question div#remarks
{
    display: none;
}

#question div#questionAfterRemarks
{
    display: none;
    margin: 10px 0px !important;
}




#questionReply
{
    display: none;
}



.options input[type="text"] 
{
    border: 1px solid #3f3f3f !important;
    border-radius: 40px;
    width: 100%;
}

button
{
    background-color: #ffffff;
    border: 1px solid #3f3f3f !important;
    border-radius: 50px !important;
    color: #3f3f3f;
    cursor: pointer;
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

    button:hover
    {
        background-color: #3f3f3f;
        color: #ffffff !important;
    }

button.back
{
    margin: 5px 0px 15px 0px !important;
}

.options button:disabled
{
    background-color: lightgray;
}
*/

/*
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-spacing: 5px;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

th.score {
    text-align: center;
}

td.ident {
    padding-left: 20px;
}

td.score {
    text-align: center;
}

th.section
{
    background-color: lightgray;
}
*/
