div#reply
{
    display: none;
}

div.reply
{
    display: flex; 
    display: -webkit-flex; 
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Yummo, sans-serif;
    align-items: center;
    height: auto;
    width: auto;
}

div.reply.input
{
    flex-wrap: nowrap;
}

    div.reply > button
    {
        background-color: #ffffff;
        border: 1px solid #636363 !important;
        border-radius: 50px !important;
        color: #636363;
        cursor: pointer;
        font-weight: bold !important;
    }

        div.reply > button:hover
        {
            background-color: #3f3f3f;
            color: #ffffff !important;
        }

    div.reply > button.btn-input
    {
        flex-grow: 0;
    }

    div.reply > button.btn-options
    {
        margin: 0px 5px 5px 0px;
    }

        div.reply > button.btn-options:first-child
        {
            margin-left: 0px;
        }

        div.reply > button.btn-options:last-child
        {
            margin: 0px;
        }

    div.reply > input[type="text"] 
    {
        border: 1px solid #3f3f3f !important;
        border-radius: 40px;
        flex-grow: 1;
        margin-right: 10px;
        padding: 10px 20px;
        width: 100%;
    }