/* 
    Created on : 09/02/2016, 14:13:33
    Author     : robsonvleite
*/

.content{
    width: 80%;
}

/*HEADER*/
.main_header{
    background: #000;
    padding: 10px 0;
}

.main_header header{
    float: left;
    text-align: center;
    color: #fff;
}

.main_header img{
    margin: 10px;
    height: 30px;
    display: inline-block
}

.main_header header h1{
    font-size: 0;
    display: inline-block
}

.main_header header .tagline{
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.main_header nav{
    float: right;
}

.main_header nav ul{
    margin-top: 0px;
    display: block;
    width: 100%;
}

.main_header nav li{
    display: inline-block;
    position: relative;
}

.main_header nav li a{
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
}

.main_header nav .login{
    background: #008068;
}

.main_header nav li:hover,
.main_header nav li a:hover{
    color: #FF0000;
}

.main_header nav li:hover .sub,
.main_header nav li a:hover .sub{
    display: block;
}


.main_header nav .sub{
    display: none;
    z-index: 99;
    position: absolute;
    width: 200px;
    background: #fff;
    margin: 0;
}

.main_header nav .sub li,
.main_header nav .sub li a{
    color: #00B494;
    display: block;
    width: 100%;
}

.main_header nav .sub li a:hover{
    background: rgba(0,0,0,0.5);
    color: #fff;
}

/*CONTENT*/
.main_content{
    padding: 50px 0;
    background: #eaeaea;
}

/*LANDING PAGE*/
.principal{
    background: url('images/header.jpg') center center no-repeat fixed; 
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.principal img{
    width: 50%;
    min-width: 340px;
}

.principal h1{
    font-weight: 200;
    font-size: 1.7em;
    margin-top: 20px;
    text-transform: uppercase;
}

.about{
    background: #fff;
    text-align: center;
    color: #444;
    padding: 80px 0; 
}

.about img{
    width: 200px;
}

.about h1{
    color:#ff0000;
    font-weight: 700;
    font-size: 4em;
    margin-top: 20px;
}

.about .tagline{
    color: #444;
    font-size: 1.5em;
    font-weight: 200;
}

.contact{
    background: #ff0000;
    color: #fff;
    text-align: center;
}

.contact p{
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1em;
}

.contact form {
    width: 45%;
    min-width: 340px;
    margin: 30px auto;
    position: relative;
}

.contact input{
    font-weight: 200;
    font-size: 1.3em;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 25px;
    background: #FFF;
    border: none;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.contact button{
    padding: 8px 20px;
    position: absolute;
    cursor: pointer;
    top: 4px;
    right: 4px;
    z-index: 99;
    background: #888;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    border: 0;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

/*HOME*/
.main_blog{
    float: right;
    width: 67%;
}

.main_blog_post{
    background: #fff;
    margin-bottom: 30px;
}

.main_blog_post img{
    width: 100%;
}

.main_blog_post header{
    padding: 30px;
}

.main_blog_post h1{
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 15px;
}

.main_blog_post a{
    color: #00B594;
    text-decoration: none;
}

.main_blog_post a:hover{
    text-decoration: underline;
}

.main_blog_post .tagline{
    font-size: 0.9em;
    color: #555;
}

.main_sidebar{
    float: left;
    width: 30%;
    padding: 30px;
    background: #fff;
}

.main_sidebar_widget{
    display: block;
    width: 100%;
    margin-bottom: 30px;
}

.main_sidebar_widget > h1{
    font-size: 1.7em;
    font-weight: 300;
    margin-bottom: 25px;
    border-bottom: 1px solid #ccc;
}

.main_sidebar_widget > h1 span{
    border-bottom: 5px solid #ccc;
}

.main_sidebar_widget a{
    color: #00B494;
    text-decoration: none;
}

.main_sidebar_widget a:hover{
    text-decoration: underline;
}

.main_sidebar_widget ul{
    display: block;
    width: 100%;
}

.main_sidebar_widget ul li{
    display: block;
    width: 100%;
    background: #fbfbfb;
    padding: 5px 10px;
    border-bottom: 2px solid #fff;
    text-transform: uppercase;
    font-size: 0.875em;
    font-weight: 300;
}

.main_sidebar_widget_post{
    display: block;
    width: 100%;
    margin-bottom: 25px;
}

.main_sidebar_widget_post h1{
    font-size: 1em;
    font-weight: 600;
    margin: 20px 0 10px 0;
}

.main_sidebar_widget_post .tagline{
    font-size: 0.8em;
    color: #ccc;
}

.search_form{
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background: #fbfbfb;
    text-align: center;
}

.search_form input{
    margin-bottom: 10px;
}

.search_form button{
    text-transform: uppercase;
    font-size: 0.8em;
}

/*PAGINATOR*/
.paginator{
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.paginator li{
    display: inline-block;
    font-size: 0.9em;
}

.paginator li a,
.paginator li span{
    padding: 5px 10px;
    margin: 0 5px;
    background: #00B494;
    color: #fff;
    text-decoration: none;
}

.paginator li a:hover{
    background: #00CCA7
}

.paginator li span{
    background: #008068;
    font-weight: bold;
}


/*FOOTER*/
.main_footer{
    background: #FF0000;
    padding: 30px 0;
    color: #fff;
    font-size: 0.875em;
    font-weight: 200;
    text-align: center;
}

/*SINGLE*/
.post_single{
    padding: 50px 0;
    background: #eaeaea;
}

.post_single .cover{width: 100%;}

.post_single .fb-comments{
    display: block;
    width: 100%;
    margin-top: 40px;
}

.post_single .main_sidebar{
    float: right;
}

.post_single .left_content{
    float: left;
    width: 67%;
}

.post_content{
    background: #fff;
}

.post_content > h1{
    padding: 30px;
    font-size: 2em;
    font-weight: 300;
}

.post_content .tagline{
    padding: 30px 30px 0 30px;
    font-size: 1.3em;
    font-weight: 300;
}

.single_post_more{
    float: left;
    width: 100%;
    padding: 25px;
    background: #00B494;
}

.single_post_more header{
    margin-bottom: 20px;
    color: #fff;
}

.single_post_more_post{
    float: left;
    width: 50%;
}

.single_post_more_post:hover{
    border-color: #fff;   
}


/*404*/
.not_found{
    padding: 50px 0;
}

.not_found header{
    width: 800px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto 40px auto;
}

.not_found header h1{
    font-size: 2em;
    font-weight: 400;
}

.not_found header p{
    font-size: 1.1em;
    font-weight: 300;
    margin: 10px 0 0 0;
}

.not_fount_post{
    display: inline-block;
    width: 50%;
    padding: 20px;
    margin-left: -4px;
    vertical-align: top;
}

.not_fount_post h1{
    margin-top: 20px;
    font-weight: 400;
}

.not_fount_post a{
    font-weight: 600;
    color: #00B494;
    text-decoration: none;
}

.not_fount_post a:hover{
    text-decoration: underline;
}

.not_found .search_form{
    display: block;
    padding: 0 20px;
    float: none;
    background: none;    
    text-align: center;
}

.not_found .search_form input{
    width: 400px;
    max-width: 100%;
    padding: 6px;
}

.page_single{
    padding: 50px 0;
    background: #eaeaea;
}

.page_single .content{
    background: #fff;
}

.page_single header{
    padding: 20px;
    text-align: right;
    background: #008068;
    color: #fff;
}

.wc_slides{
    margin: 30px auto;
}

@media (max-width: 80em){
    .content{
        width: 90%;
        margin: 0 5%;
    }

    .main_blog{
        float: none;
        display: block;
        width: 100%;
    }

    .main_sidebar{
        float: none;
        display: block;
        width: 100%;
    }

    .main_sidebar_widget{
        display: inline-block;
        width: 50%;
        margin-left: -4px;
        vertical-align: top;
        padding: 30px;
    }

    .main_sidebar_widget_most{
        width: 100%;
    }

    .main_sidebar_widget_most .main_sidebar_widget_post{
        display: inline-block;
        width: 50%;
        margin-left: -4px;
        padding: 20px;
        vertical-align: top;
    }

    .left_content{
        float: none;
        display: block;
        width: 100% !important;
        margin-bottom: 30px;
    }
}

@media (max-width: 64em){
    .content{
        width: 94%;
        margin: 0 3%;
    }

    .main_header header{
        float: none;
        display: block;
        width: 100%;
    }

    .main_header nav{
        float: none;
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 50em){
    .main_sidebar_widget,
    .main_sidebar_widget_most .main_sidebar_widget_post{
        padding: 0;
        width: 100%;
        margin-left: 0;
    }

    .not_fount_post{
        width: 100%;
        padding: 20px;
    }
}

