@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;  
}

body, html {
  height: 100%;
}

body {
    background: #e2e3e5;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    overflow: scroll-y;
    padding-top: 70px;
    max-width: 1024px;
}

.navbar
{
    background-color: #ffffff !important;
    color: #636363;
}

    .navbar .glyphicon
    {
        cursor: pointer;
    }

.navbar-text
{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px 15px !important;
}

.icon-flipped 
{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.rounded-border
{
    border-radius: 50%;
    border-style: solid; 
    border-width: 1px;   
    padding: 3px;
}

.chat {
    margin: 0px 10px;
    padding-bottom: 200px;
}

td.circle
{
    width: 70px;
}

.back
{
    cursor: pointer;
    display: none;
    font-weight: bold;
    margin-left: 5px;
}

.circleBot
{
    height: 60px;
    margin: 0px 0px;
    width: 60px;
}

        .circleBot > .bot
        {
            background: #ff0000;
            border-radius: 50%;
            display: table-cell;
            color: #ffffff;
            height: inherit;
            text-align: center;
            vertical-align: middle;
            width: inherit;
        }

.circleUser
{
    float: right;
    height: 60px;
    margin: 0px 0px;
    width: 60px;
}
        .circleUser > .user
        {
            background: #000000;
            border-radius: 50%;
            display: table-cell;
            color: #ffffff;
            height: inherit;
            text-align: center;
            vertical-align: middle;
            width: inherit;
        }

#chatHistory table.question, #question table.question
{
    border: none !important;
    margin: 0px 0px 10px 0px !important;
    padding: 0px !important;
}

#chatHistory table.answer, #question table.answer
{
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

#chatHistory div#answer
{
    display: none;
}

#chatHistory tr, #chatHistory td, #question tr, #question td
{
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: left;
    vertical-align: top;
}

#chatHistory tr.answer, #question tr.answer
{
    margin-top: 10px !important;
}

#chatHistory td.button, #questionReply td.button
{
    padding-left: 10px !important;
    width: 60px !important;
}

#question div#remarks
{
    display: none;
}

#question div#questionAfterRemarks
{
    display: none;
    margin: 10px 0px !important;
}


div.question
{
    background: #636363;
    border-radius: 40px;
    color: #ffffff;
    padding: 20px 30px;
    text-align: left;
}

div.answer
{
    background: #ffffff;
    border-radius: 50px;
    color: #636363;
    float: right;
    padding: 20px 30px;
    width: auto;
}

#questionReply
{
    display: none;
}



.options input[type="text"] 
{
    border: 1px solid #3f3f3f !important;
    border-radius: 40px;
    width: 100%;
}

button
{
    background-color: #ffffff;
    border: 1px solid #3f3f3f !important;
    border-radius: 50px !important;
    color: #3f3f3f;
    cursor: pointer;
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

    button:hover
    {
        background-color: #3f3f3f;
        color: #ffffff !important;
    }

button.back
{
    margin: 5px 0px 15px 0px !important;
}

.options button:disabled
{
    background-color: lightgray;
}


/*
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-spacing: 5px;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

th.score {
    text-align: center;
}

td.ident {
    padding-left: 20px;
}

td.score {
    text-align: center;
}

th.section
{
    background-color: lightgray;
}
*/