@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;  
}

body, html {
  height: 100%;
}

body {
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin: 0 auto;
    overflow: scroll-y;
    padding-top: 70px;
    max-width: 1024px;
}

.navbar
{
    background: #3f3f3f;
}

    .navbar .glyphicon
    {
        color: #ffffff;
        cursor: pointer;
    }

.navbar-text > .row
{
    margin: 0px !important;
    padding: 0px !important;
}

.chat {
    margin: 0px 10px;
    padding-bottom: 200px;
}

.chatHistory > .row
{
    margin-bottom: 15px !important;
}

.chatHistory > .back
{
    margin: -10px 60px 15px 0px !important;
    text-align: right;
}

td.circle
{
    width: 70px;
}

.circleBot
{
    height: 60px;
    margin: 0px 0px;
    width: 60px;
}

        .circleBot > .bot
        {
            background: #ff0000;
            border-radius: 50%;
            display: table-cell;
            color: #ffffff;
            height: inherit;
            text-align: center;
            vertical-align: middle;
            width: inherit;
        }

.circleUser
{
    float: right;
    height: 60px;
    margin: 0px 0px;
    width: 60px;
}
        .circleUser > .user
        {
            background: #a8a8a8;
            border-radius: 50%;
            display: table-cell;
            color: #ffffff;
            height: inherit;
            text-align: center;
            vertical-align: middle;
            width: inherit;
        }

#question table.question
{
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

#question table.answer
{
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
}

#question tr, #question td
{
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    text-align: left;
    vertical-align: top;
}

#questionReply td.button
{
    padding-left: 10px !important;
    width: 60px !important;
}


div.question
{
    background: #3f3f3f;
    border-radius: 10px;
    color: #ffffff;
    padding: 20px 30px;
    text-align: left;
}

div.answer
{
    background: #aaaaaa;
    border-radius: 10px;
    color: #ffffff;
    float: right;
    margin-right: 10px;
    padding: 20px 30px;
    width: auto;
}

#questionReply
{
    display: none;
    margin-top: 20px;
}



.options input[type="text"] 
{
    width: 100%;
}

button
{
    background-color: #ffffff;
    border: 1px solid #3f3f3f !important;
    color: #3f3f3f;
    cursor: pointer;
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

    button:hover
    {
        background-color: #3f3f3f;
        color: #ffffff !important;
    }

.options button:disabled
{
    background-color: lightgray;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-spacing: 5px;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

th.score {
    text-align: center;
}

td.ident {
    padding-left: 20px;
}

td.score {
    text-align: center;
}

th.section
{
    background-color: lightgray;
}