@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;  
}

body, html {
  height: 100%;
  
}

body {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: 0 auto;
  padding-top: 70px;
  max-width: 1024px;
}

.navbar
{
    background: #3f3f3f;
}

    .navbar .glyphicon
    {
        color: #ffffff;
        cursor: pointer;
    }

.navbar-text > .row
{
    margin: 0px !important;
    padding: 0px !important;
}

.chat {
    margin: 0px 10px;
}

.chatHistory .row
{
    margin-bottom: 15px;
}






.circle
{
    height: 40px;
    margin: 10px 0px;
    position: relative;
    width: 100%;
}

    .circle > .alignLeft
    {
        position: absolute; 
        left: 0px;
    }

        .circle > .alignLeft > .bot
        {
            background: #ff0000;
            border-radius: 50%;
            display: table-cell;
            color: #ffffff;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            width: 40px;
        }

    .circle > .alignRight
    {
        position: absolute; 
        right: 0px;
    }

        .circle > .alignRight > .user
        {
            background: #a8a8a8;
            border-radius: 50%;
            display: table-cell;
            color: #ffffff;
            height: 40px;
            text-align: center;
            vertical-align: middle;
            width: 40px;
        }

.answer
{
    background: #aaaaaa;
    border-radius: 10px;
    color: #ffffff;
    float: right;
    margin-right: 20px;
    padding: 20px 30px;
    width: auto;
}

.question
{
    background: #ff0000;
    border-radius: 10px;
    color: #ffffff;
    margin-left: 20px;
    padding: 20px 30px;
    text-align: left;
}

.question > .questionReply
{
    display: none;
}



.options input[type="text"] 
{
    width: 100%;
}

button
{
    background-color: #ffffff;
    border: none;
    color: #000000;
    cursor: pointer;
    font-weight: bold !important;
    margin-bottom: 5px !important;
}

.options button:disabled
{
    background-color: lightgray;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-spacing: 5px;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
}

th.score {
    text-align: center;
}

td.ident {
    padding-left: 20px;
}

td.score {
    text-align: center;
}

th.section
{
    background-color: lightgray;
}