.dashboard_nav,
.dashboard_nav_normalize{left: -220px;}
.dashboard_fix{
    margin-left: 0;
    min-width: 640px;
}
.dashboard_header{text-align: center;}
.dashboard_sidebar_welcome{display: none;}

.box25{width: 50%;}
.box33{width: 50%;}
.box30{width: 100%;}
.box50{width: 100%;}
.box70{width: 100%;}
.box100{width: 100%;}

.dashboard_nav_menu_sub{
    display: block;
    position: relative;
    left: 0;
}

.dashboard_header_search{
    float: none;
    margin: 15px auto 0 auto;
    text-align: center;
}

.dashboard_nav_menu_sub_li a{
    padding: 10px 15px 10px 35px;
    background: #1A242E;
    border-top: 1px dotted #263644;
}


.single_onlinenow p{
    width: 50%;
    padding: 10px;
}

.single_onlinenow p:first-child{
    width: 50%;
}

.single_onlinenow p:last-child{
    width: 100%;
}

.single_comment .comm_thumb{
    display: none;
}

.single_comment .comm_content{
    width: 100%;
}

/***********************************
############ CONFIGURAÇÕES ##############
***********************************/
.box_conf.conf{
    padding: 0;
    margin: 0;
}

.box_conf form{
    display: inline-block;
    width: 100%;
    margin: 0;
}

.box_conf form:nth-child(2n+0){
    margin-left: 0%;
}


.course_gerent_module .row_title{
    width: 100%;
    text-align: center;
}

.course_gerent_module .row{
    width: 100% !important;
    text-align: center;
    margin-top: 10px;
}

.students_course_view_class h1.row{
    font-size: 1em;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    display: block;
    width: 100%;
    text-align: center;
}

.students_course_view_class .row{
    width: 50%;
    text-align: center;
    margin-bottom: 4px;
}

.ead_support_single h1.row{
    width: 100%;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
}
.ead_support_single .row{
    width: 50%;
    text-align: center;
    padding: 5px;
}

.ead_support_response_avatar{
    display: none;
}

.ead_support_response_content{
    width: 100%;
    padding: 10px;
}

.ead_support_response_form .wc_actions{
    font-size: 0.7em;
    text-align: center;
}

.wc_ead_order_single h1.row{
    width: 100%;
    text-align: center;
}

.wc_ead_order_single .row{
    width: 50%;
    text-align: center;
}

.wc_ead_orders_order h1.row{
    margin: 0;
    border: none;
}
.wc_ead_orders_order .row{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.wc_ead_reports_single h1.row{
    font-size: 1.3em;
    font-weight: bold;
}
.wc_ead_reports_single .row{
    width: 100%;
    padding: 10px;
}

